@model Tp_CourseWork.Models.ViewModels.LocalitiesWithUniqMayor
@{
    ViewBag.Title = "LOCALITY";
}
<div>
    <form method="post">

        <p>
            <label for="phone">Выберите модель:</label>
            <select name="phone">
                @foreach (var item in Model.Mayors)
                {
                    <option value=@item>@item</option>
                }
            </select>
        </p>

        <p>
            <input type="submit" value="Отправить" />
        </p>
    </form>
</div>